@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stroke: black;
  --fill: #304d30;
  --fill-secondary: #8f0000;
  --bg: 255 252 245;
  --bg-b: 255 249 237;
  --bg-primary: 22 48 32;
  --bg-secondary: 111 142 110;
  --bg-accent: 48 77 48;
  --error: 211 24 40;
  --red: 143 0 0;
  --light-green: 212 224 211;
  --light: 255 255 255;
  --dark: 38 40 39;
  --accent: 244 219 190;
  --accent-primary: 0 128 255;
  --accent-secondary: 142 142 142;
  --text-light: 255 252 245;
  --text-light-green: 111 142 110;
  --text-dark-green: 22 48 32;
}

.contrast {
  --stroke: rgb(255, 242, 5);
  --fill: rgb(255, 242, 5);
  --fill-secondary: #0080ff;
  --bg: 0 0 0;
  --bg-b: 255 242 5;
  --bg-primary: 0 0 0;
  --bg-secondary: 0 0 0;
  --bg-accent: 0 0 0;
  --error: 211 24 40;
  --red: 0 0 0;
  --light-green: 255 242 5;
  --light: 255 242 5;
  --dark: 0 0 0;
  --accent: 255 242 5;
  --accent-primary: 0 128 255;
  --accent-secondary: 255 242 5;
  --text-light: 255 242 5;
  --text-light-green: 255 242 5;
  --text-dark-green: 255 242 5;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
