@tailwind base;
@tailwind components;
@tailwind utilities;

.mediumFont {
  font-size: 125%
}

.largeFont {
  font-size: 150%
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}