@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

:root {
  --stroke: black;
  --fill: #304d30;
  --fill-secondary: #8f0000;
}

.contrast {
  --stroke: rgb(255, 242, 5);
  --fill: rgb(255, 242, 5);
  --fill-secondary: hotpink;
}
